.App {
  text-align: center;
  background-color: #112c61;
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navigation-logo {
  padding: 2vh;
  height: 5vh;
}
